*{
    margin: 0%;
    padding: 0%;

}

:root{
    --letras: yellow;
    --background: black;
    --parrafos: white;
    --relleno: grey;
}

/* Encabezado ----------------------------------------------------- */

nav{
    background-color: var(--background);
    padding-bottom: 10px;
    width: 100%;

}

table{
    width: 100%;
    text-align: center;
}

.boton{
    text-decoration: none;
    width: 20%;
    padding: 1rem;
    font-size: medium; 
    font-weight: bold;
    color: var(--letras);
    background-color: var(--background); 
}

.boton:hover{
    color: var(--relleno);
    background-color: var(--letras);
}

#td1{
    /* background-color: antiquewhite; */
    width: 20%;
    
}

#td2{
    /* background-color: aquamarine; */
    width: 80%;

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .boton{
        padding: 0.5rem;
        font-size: small;

    }

    #td1{
        width: 15%;
    }

    .tabla-footer{
   
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .boton{
        padding: 0.25rem;
        font-size: x-small;

    }

}

/* Cuerpo --------------------------------------------------------- */

main{
    background-image: url(img/fondo.jpg);
    background-size: cover;
}

.container{
    display: grid;
    gap: 5px;
    /* margin: 5px; */
    padding: 10px;

}


.descripcion{
    width: 100%;
    text-align: center;
    background-color: var(--relleno);
    color: var(--letras);
    border-radius: 10px;
    font-weight: bold;
    padding: 7px 0 7px 0;
}

.items{
    /* background-color: aquamarine; */
    text-align: center;
    padding: 10px;

}

.zapato{
    width: 70%;
    border-radius: 10px;
    border-style: groove;

}

.botin{
    width: 70%;
    border-radius: 10px;
    border-style: groove;
}

.bota{
    width: 70%;
    border-radius: 10px;
    border-style: groove;
}

.certificado{
    width: 70%;
    background-color: grey;
    border-radius: 20px;

}

.certificado td{
    text-align: center;
}

.descarga{
    margin-inline: 30px;
}

#sobre{
    position: fixed;
    background-color: transparent;
    margin: 5px;
    right: 1%;
    bottom: 10%;

}


/* Pie -------------------------------------------------------------- */

footer{
    background-color: var(--background);
    color: var(--parrafos);
    font-size: small;
    padding: 20px;
}

.tabla-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.redes{
    text-align: center;
    color: var(--parrafos);
    margin-inline: 10px;
}

.redes:hover{
    color: var(--letras);
}
