*{
    margin: 0%;
    padding: 0%;

}

:root{
    --amarillo: yellow;
    --negro: black;
    --blanco: white;
    --gris: grey;

}

/* Encabezado ----------------------------------------------------- */

nav{
    position: fixed;
    z-index: 999999;
    background-color: transparent;
    padding-bottom: 0.5%;
    width: 100%;

}

#tabla-header > a{
    width: 15%;

}

.boton{

    width: 100%;
    padding: 1rem;
    font-size: medium;
    font-weight: bold;
    color: white;
    background-color: var(--negro);

}


.boton:hover{
    color: var(--gris);
    background-color: var(--amarillo);
    transition: background-color 0.5s ease;
}


#tabla-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}



/* Cuerpo --------------------------------------------------------- */

main{
    background-color: var(--negro);
    background-image: url(./img/Fondos/negro\ 2.jpg);
    background-size: cover;
}

.container{
    background: linear-gradient(var(--negro),var(--amarillo));
    padding-bottom: 1px;
    

}

.card:hover{
    animation: bounce 0.5s;
}


#banner{
    background-image: url(img/APAISADA.jpg);
    background-size: cover;
    height: 400px;
    color: yellow;
    /* font-weight: bold; */
    display: flex;
    align-items: center;

}

#imagen-banner{
    padding-left: 2%;
    height: 10vw;
    min-height: 120px;
    object-fit: cover;

}


#flecha{
    position: fixed;
    z-index: 999;
    margin: 5px;
    right: 10px;
    bottom: 10%;
    transition: transform 0.5s;
    padding-left: 2%;
}

#sobre{
    position: fixed;
    z-index: 999;
    margin: 5px;
    right: 50px;
    bottom: 10%;
    transition: transform 0.5s;
}

#sobre:hover {
    /* transform: scale(1.25);  */
    animation: bounce 0.5s;
}

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(15px); 
      transform: scale(1.25);
    }
    50% {
      transform: translateY(-10px); 
    }
    75% {
      transform: translateY(5px); 
    }
    100% {
      transform: translateY(0); 
      transform: scale(1);
  }
} 

i:hover{
    color: yellow;
}

#seccion-video{
    display: flex;
    flex-direction: row;
    margin: 0 70px 0 70px;
    padding: 10px;
    align-items: center;
    gap: 30px;
    color: black;
    border-color: grey;
    border-style:groove ;
}

#texto-video{
    background-color: white;
    padding: 3%;
}



/* Pie -------------------------------------------------------------- */

footer{
    /* background-color: var(--background); */
    /* background-image: url(./img/Fondos/black-background-with-fabric-texture.jpg); */
    
    background-color: var(--negro);
    background: linear-gradient(to top, var(--negro), var(--gris));
    /* background-size: cover; */
    color: var(--blanco);
    font-size: small;
    padding: 20px;
    
}

.tabla-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.redes{
    text-align: center;
    color: var(--blanco);
    margin-inline: 10px;
}

.redes:hover{
    color: var(--amarillo);
}

/* cortes --------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {


    #tabla-header > a{
        width: 200px;
    }

    .boton{
        padding: 3px;
        font-size: small;

    }

    .tabla-footer{
        flex-direction: column;
    }


    #tabla-header{
        flex-direction: column;
        align-items: flex-end;


    }

    #seccion-video{
        flex-direction: column;
    }

    #formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

@media screen and (max-width: 767px) {

    #tabla-header > a{
        width: 200px;
    }

    .boton{
        padding: 3px;
        font-size: small;

    }


    .tabla-footer{
        flex-direction: column;
    }


    #tabla-header{
        flex-direction: column;
        align-items: flex-end;

    }


    #seccion-video{
        flex-direction: column;
        margin: 0;
    }

}
