* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --amarillo: yellow;
  --negro: black;
  --blanco: white;
  --gris: grey;

}

body {
  font-family: sans-serif;
  /* background-color: black; */
  color: var(--blanco);
  background-image: url(../img/Fondos/negro\ 2.jpg);
  background-size: cover;
}

/* Encabezado ----------------------------------------------------- */

nav{
  position: fixed;
  z-index: 999999;
  background-color: transparent;
  padding-bottom: 0.5%;
  width: 100%;

}

#tabla-header > a{
  width: 15%;

}

.boton{

  width: 100%;
  padding: 1rem;
  font-size: medium;
  font-weight: bold;
  color: var(--blanco);
  background-color: var(--negro);

}


.boton:hover{
  color: var(--gris);
  background-color: var(--amarillo);
  transition: background-color 0.5s ease;
}


#tabla-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/*----- Elementos necesarios  ------------------------*/


#flecha{
  position: fixed;
  z-index: 999;
  margin: 5px;
  right: 10px;
  bottom: 10%;
  transition: transform 0.5s;
}

#sobre{
  position: fixed;
  z-index: 999;
  margin: 5px;
  right: 50px;
  bottom: 10%;
  transition: transform 0.5s;
}

#sobre:hover {
  /* transform: scale(1.25);  */
  animation: bounce 0.5s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(15px); 
    transform: scale(1.25);
  }
  50% {
    transform: translateY(-10px); 
  }
  75% {
    transform: translateY(5px); 
  }
  100% {
    transform: translateY(0); 
    transform: scale(1);
}

} 

i:hover{
  color: var(--amarillo);
}


.container {
  display: flex;
  flex-direction: row;
}

/* ------ Formulario  ----------*/

 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    /* max-width: 12px; */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
    
  }
  
  form div input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: var(--blanco);
    color: var(--negro);
    outline: none;
    border: 2px solid var(--gris);
    padding: 7px 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }

  form div textarea {
    width: 100%;
    /* height: 40px; */
    border-radius: 8px;
    outline: none;
    border: 2px solid var(--gris);
    padding: 7px 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* resize: vertical; */
  }

  form div select {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid var(--gris);
    padding: 7px 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  input[type="file"] {
    height: 48px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  
  form div {
    position: relative;
    margin-bottom: 15px;
  }
  
  input:focus {
    border: 2px solid var(--amarillo);
  }
  
  textarea:focus {
    border: 2px solid var(--amarillo);
  }
  table {
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 5px;
  }
  
  /**
  * íconos
  **/
  
  form div i {
    position: absolute;
    padding: 10px;
  }
  
  .success-icon,
  .failure-icon {
    right: 0;
    opacity: 0;
  }
  
  .failure-icon,
  .error {
    color: red;
  }
  
  .success-icon {
    color: green;
  }
  
  .error {
    font-size: 14.5px;
    margin-top: 5px;
    text-align: left;
  }
  
  /**
  * botón 
  **/
  
  form > button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: var(--amarillo);
    border: 2px solid var(--amarillo);
    border-radius: 8px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
  }
  
  form > button:hover {
    opacity: 0.8;
  }



  
/* Pie -------------------------------------------------------------- */

footer{
  /* background-color: var(--background); */
  /* background-image: url(./img/Fondos/black-background-with-fabric-texture.jpg); */
  background-color: var(--negro);
  background: linear-gradient(to top, var(--negro), var(--gris));
  /* background-size: cover; */
  color: var(--blanco);
  font-size: small;
  padding: 20px;
}

.tabla-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}


.redes{
  text-align: center;
  color: var(--blanco);
  margin-inline: 10px;
}

.redes:hover{
  color: var(--amarillo);
}

/* cortes --------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {


  #tabla-header > a{
      width: 200px;
  }

  .boton{
      padding: 3px;
      font-size: small;

  }

  .tabla-footer{
      flex-direction: column;
  }


  #tabla-header{
      flex-direction: column;
      align-items: flex-end;


  }

  #seccion-video{
      flex-direction: column;
  }

  #formulario{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

}

@media screen and (max-width: 767px) {

  #tabla-header > a{
      width: 200px;
  }

  .boton{
      padding: 3px;
      font-size: small;

  }


  .tabla-footer{
      flex-direction: column;
  }


  #tabla-header{
      flex-direction: column;
      align-items: flex-end;

  }


  #seccion-video{
      flex-direction: column;
      margin: 0;
  }

}

/*   
  /**
  * Media Queries 
  **/
  
  /* @media (max-width: 900px) {
    .container {
      flex-direction: column;
    }
  
    form,
    .content {
      width: 100%;
    }
  
    .btn {
      flex-direction: column;
    }
    .image {
      height: 70vh;
    }
  }
  
  @media (max-width: 425px) {
    form {
      padding: 20px;
    }
  } */